<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zawartość pliku GPX i losowe dane</title>
</head>
<body>
<h1>Zawartość wczytanego pliku GPX</h1>

<!-- Wyświetlanie błędu, jeśli wystąpił -->
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<!-- Wyświetlanie zawartości pliku GPX -->
<h2>Plik GPX:</h2>
<div>
    <pre th:text="${fileContent.getFirst().getLatitude()}"></pre>
</div>

<!-- Wyświetlanie listy losowych danych -->
<h2>Losowe dane:</h2>
<ul>
    <li th:each="item : ${randomData}" th:text="${item}"></li>
</ul>

</body>
</html>
